<!-- <h1>angular</h1>


<input type="text"[value]="val" placeholder="lalu">
<h3 [style.color]="isSpecial?c1:c2">data binding</h3>
<p  [class]="isSpecial1?'para1':'para2'"> class binding</p>
<h2 [class]="isteur?'cl2':'cl1'">lalu</h2>

<table border=" solid  2px " style="color: blue;">
  <tr>
    <th [attr.colspan]="colval">person</th>
  </tr>
  <tr>
    <td>lalu</td>
    <td>rohit</td>
  </tr>
  <tr>
    <td>virat</td>
    <td>kohil</td>
  </tr>
  <tr>
    <td>rohit</td>
    <td>lalu</td>
  </tr>
  </table>
  <br>
  <button (click)="display()">click</button>
  <button (click)="showme()">click me</button>
  <br> -->


<!-- 
  <input type="text" [(ngMODEL)]="displayResult">
  <h3>{{displayResult}}</h3> -->
<!-- <app-loing [valuechild]="val"></app-loing> -->

<!-- <app-[va]="val1"></app-child> -->

  <app-parent [valchild]='val'></app-parent>
 

